{% extends "::base.html.twig" %}

{% block body %}
    <h1>Add artwork</h1>
    Counter: {{ counter }}
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}